.proceso-card{
    border:1px solid #e5e7eb;
    background:#f3f4f6;
    padding:2rem;
    border-radius:12px;
    position:relative;
    overflow:hidden;
}

.numero-proceso{
    position:absolute;
    top:18px;
    right:22px;
    font-size:64px;   /* antes 90px */
    font-weight:800;
    color:#dee2e6;    /* más claro */
    line-height:1;
}

.paso-badge{
    display:block;
    width:calc(100% - 90px);
    background:#2c4a73;
    color:white;
    padding:6px 18px;
    border-radius:20px;
    font-size:0.75rem;
    font-weight:700;
    letter-spacing:1px;
}
.titulo-proceso{
    font-size:1.35rem;
    font-weight:700;
    color:#1f6feb;
    margin-top:12px;
    margin-bottom:6px;
    letter-spacing:0.2px;
}

.texto-proceso{
    color:#6b7280;
    font-size:0.95rem;
    line-height:1.5;
}

.hero{
padding-top:120px;
padding-bottom:140px;
background: linear-gradient(135deg,#2c4a73,#314f78);
}

.hero h1{
max-width:900px;
margin:auto;
}

.hero p{
max-width:700px;
margin:auto;
opacity:0.95;
}

.btn-light{
font-weight:600;
}

/* TITULO SECCION */

.titulo-seccion{
    font-size:2rem;
    font-weight:700;
    margin-bottom:3rem;
    color:#1f2937;
}

/* CARDS SERVICIOS */

.servicio-card{
    background:#f3f4f6;
    border:1px solid #e5e7eb;
    border-radius:12px;
    padding:2rem;

    height:100%;
    display:flex;
    flex-direction:column;

    transition:all 0.25s ease;
}

/* hover elegante */

.servicio-card:hover{
    transform:translateY(-6px);
    box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* TITULO */

.servicio-card h3{
    font-size:1.2rem;
    font-weight:700;
    margin-bottom:0.8rem;
    color:#111827;
}

/* TEXTO */

.servicio-card p{
    color:#6b7280;
    line-height:1.6;
    flex-grow:1;
}

/* BOTON */

.btn-servicio{
    margin-top:auto;

    background:#2563eb;
    color:white;
    padding:10px 18px;

    border-radius:8px;
    text-decoration:none;
    font-weight:500;

    transition:all 0.2s ease;
}

.btn-servicio:hover{
    background:#1d4ed8;
}